td {FONT-FAMILY: ו;font-size: 9pt}

a:link {color: #215DC6; text-decoration:underline}
a:active {color: #215DC6; text-decoration:underline}
a:visited {color: #215DC6; text-decoration:underline}
a:hover {color: #428EFF; text-decoration:underline}
input {
	font-size: 9pt;
	font-weight: normal;
	font-family:Arial;
}

select {
	font-size: 9pt;
	font-weight: normal;
	font-family:Arial;
}

textarea {
	font-size: 9pt;
	font-weight: normal;
	font-family:Arial;
}

body {
	background-image: url(images/backbk.jpg);
	background-color: #FFFFFF;
	margin-top: 0px;
	margin-bottom: 0px;	
}
