<?xml version="1.0"?>
<configuration>
  <appSettings>
    <!--数据库设置========================================================================================================-->
    <!--==================================================================================================================-->
    <!--  ConnectionString
          数据库连接字符串. 
          jhR3DcIAwHn/Vqq9V9MIso3dQAeiFntpWAUY6j8bCtHy+DX3q+HTWbOTKeEu9EKdyNliY8iesD9gGdXI8+YEEQ==
          
          PjrDJVYElDsIsC2oeRGPeq+IsalE+dNJw7niVupHIXmE5Tj9Q0RxazccUzT5cVIdWVgh4ggkoGWXGvjPrlbttQ==
    -->
    <add key="ConnectionString" value="j9gkNS/tPh8fxyUQkd6BgfoAzgGfuMd9OvoFr72ptcGTNOkgT721uOoPuMbVokevPxphB2J9Xdq04R3n85MX5PH4gXp6uu+gBLSNuTiIil8="/>
    <!--  SetConnectionString
          设置数据库连接字符串. 为空不处理,否则加密后存到ConnectionString
          设置实例:  server=172.30.27.99;uid = sa;pwd=;database=OilCardManage
          server=server=server=
    -->
    <add key="SetConnectionString" value=""/>
    <!--路径设置==========================================================================================================-->
    <!--==================================================================================================================-->
    <!--  DatabaseExLogPath
          数据库异常日志路径. 
    -->
    <add key="DatabaseExLogPath" value="AppLog/database_ex/"/>
    <!--  BusinessExLogPath
          商业规则异常日志路径. 
    -->
    <add key="BusinessExLogPath" value="AppLog/business_ex/"/>
    <!--  FeaturesExLogPath
          常规异常日志路径. 
    -->
    <add key="FeaturesExLogPath" value="AppLog/features_ex/"/>
    <!--  InterfaceExLogPath
          用户界面异常日志路径. 
    -->
    <add key="InterfaceExLogPath" value="AppLog/interface_ex/"/>
    <!--  CustomLogPath
          自定义日志路径. 
    -->
    <add key="CustomLogPath" value="AppLog/custom_log/"/>
    <!--  ServiceLogPath
          windows服务日志路径. 
    -->
    <add key="ServiceLogPath" value="AppLog/service_log/"/>
    <!--
    企业全名
  -->
    <add key="EnterpriseFullName" value="云南华能澜沧江龙开口电站"/>
    <!--
    企业简名
   -->
    <add key="EnterpriseShortName" value="龙开口电站"/>
    <!--
    站点标题
   -->
    <add key="WebSiteTitle" value="龙开口电站加油卡管理系统"/>
  </appSettings>
  <system.web>
    <compilation defaultLanguage="c#" debug="true" targetFramework="4.0"/>
    <!--自定义错误页面====================================================================================================-->
    <!--==================================================================================================================
    
    <customErrors mode="On" defaultRedirect="wfmError.aspx">
      <error statusCode="404" redirect="wfmNopage.aspx" />
    </customErrors>
   -->
    <authentication mode="Windows"/>
    <authorization>
      <allow users="*"/>
    </authorization>
    <trace enabled="false" requestLimit="10" pageOutput="false" traceMode="SortByTime" localOnly="true"/>
    <sessionState mode="InProc" cookieless="false" timeout="30"/>
    <globalization requestEncoding="gb2312" responseEncoding="gb2312"/>
    <httpRuntime maxRequestLength="2048000"/>
    <xhtmlConformance mode="Legacy"/>
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>
  </system.web>
</configuration>